{% load static %}
<div id="header-container" class="bg-white"  >
      <a href="{% url 'index' %}">
        <img
      class="header-img"
      src="{% static 'my_portfolio/img/logo.jpg' %}"
      alt="Image-Error"
      href="{% url 'index' %}"
    />
      </a>
    
    <div class="header-brand">
      <h2>
        <a class="brand-link" href="{% url 'index'%}"
          >Codydematth Programming</a
        >
      </h2>
      <p class="info">Development, Design, Scraping, and more</p>
      <div class="social-link">
        <ul class="social-wrapper">
          <li class="social-item">
            <a href="https://twitter.com/codywize_tech" class="fa fa-twitter" target="_blank"></a>
            
          </li>
          <li class="social-item">
            <a href="https://github.com/codydematth" class="fa fa-github" target="_blank"></a>
          </li>
          <li class="social-item">
            <a href="https://join.skype.com/invite/nWQS3DWfC6po" class="fa fa-skype" target="_blank"></a>
            
          </li>
          <li class="social-item">
            <a href="https://web.facebook.com/codyde.matth/" class="fa fa-facebook" target="_blank"></a>
          </li>
          <li class="social-item">
            <a href="https://www.linkedin.com/in/codydematth/" class="fa fa-linkedin" target="_blank"></a>
            
          </li>
        </ul>
      </div>
    </div>
 
</div>