:root{
	--mainColor:rgb(211, 218, 223);
	--secondaryColor:#fff;

	--borderColor:#c1c1c1;

	--mainText:rgb(94, 94, 94);
	--secondaryText:#4b5156;

	--themeDotBorder:#24292e;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6;


	--buttonColor:rgb(94, 94, 94);


}

.body-clr{
    background-color: var(--mainColor);

}

a{
    text-decoration: none;
    color: rgb(19, 110, 138);
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Russo One', sans-serif;
}

#header-container{
    display: flex;
    padding: 1rem;
    gap: 25px;
    width: 100%;
    justify-content: center;
    
}

.header-brand{
    display: inline-block;
    margin-right: 5rem;
    
    margin-top: 20px;
    
}
.brand-link{
    color: rgb(94, 94, 94);
}
.brand-link:hover{
    color: rgb(61, 61, 61);
}

.header-img{  
    margin-left: -5rem;
    object-fit: contain;
    width: 170px;
    height: 170px;
    border:2px solid #fff; 
    -moz-box-shadow: 5px 5px 6px 5px #ccc;
    -webkit-box-shadow: 5px 5px 6px 5px #ccc;
    box-shadow: 5px 5px 6px 4px #ccc;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius:190px;
    cursor: pointer;

}
.info{
    font-size:20px;
    letter-spacing: -1px;
    word-spacing: -5px;
    font-family:'Courier New', Courier, monospace;    
    color: rgb(117, 116, 116);
}
.social-wrapper{
    display: inline;
    list-style: none;
    padding-left: 0;
    
}
.fa {
    padding: 10px;
    font-size: 30px;
    height: 45px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-facebook:hover{
    background: #3B5998;
  }


  .fa-skype {
    background: #a3cef0;
    color: white;
  }
  .fa-skype:hover {
    background-color: #55ACEE;
    
  }


  
  .fa-github {
    background: #252525;
    color: white;
    font-size: 30px;
  }
  
  .fa-github:hover {
    fill: #080808 !important;
    
  }



  .fa-linkedin {
    background: #98d2ec;
    color: white;
  }
  
  .fa-linkedin:hover {
    background: #007bb5;
    
  }


  .fa-twitter {
    background: rgb(132, 195, 236);
    color: white;
  }
  
  .fa-twitter:hover {
    background: rgb(29, 155, 240);
    
  }


.social-item{
    display: inline-block;
}



.wrapper{
    margin-top: 2rem;
}
.profile-wrapper{
    width: 85%;
    padding-top: 0;
    margin: auto;
    margin-top: 4rem ;
    border: 1px solid rgb(179, 183, 189);
    /* border-style: dashed; */
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 0;  
    background-color: rgb(249, 255, 254);
}
.my-name{
    color: rgb(94, 94, 94);
    font-size: 35px;
    
    text-align: center;
   
}
.dot_url{
    padding: 2px;
   
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(179, 183, 189);
    background-color: rgb(211, 218, 223);
   

}
#container{
   
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.dotWrapper{
    padding-top: 2px;
    display: flex;
    justify-content: start;
    gap: 6px;
    
    
}
.dotYellow{
    
    padding: 0;
    border: 1px solid rgb(94, 94, 94);
    border-radius: 90px;
    width: 12px;
    height: 12px;
    background-color: rgb(207, 143, 6);
    cursor: pointer;

}
.dotGreen{
    /* margin-left: -2rem; */
    padding: 0;
    border: 1px solid rgb(94, 94, 94);
    border-radius: 90px;
    width: 12px;
    height: 12px;
    background-color: rgb(87, 182, 9);
    cursor: pointer;

}
.dotRed{
    /* margin-left: -2rem; */
    padding: 0;
    border: 1px solid rgb(94, 94, 94);;
    border-radius: 90px;
    width: 12px;
    height: 12px;
    background-color: rgb(204, 76, 17);
    cursor: pointer;

}


.my-auto a{
    
    text-decoration: none;
    color: rgb(19, 110, 138);
    font-weight: 700;
    font-family:'Courier New', Courier, monospace;
}
.profile{
    margin: 2rem;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    
    
    border-radius: 20px;
    
}
.pflimage{
    margin-top: 2rem;
    
  
    
}
.img-wrapper{
    display: block;
    margin: 0 auto;
    width:240px;
    height: 250px;
    border: 1px solid rgb(94, 94, 94);
    border-radius: 10px;
    object-fit: cover;
    
}
.aboutme{
    margin-top: 4rem;
    height: 200px;
    padding: 10px;
    background-color: rgb(144, 150, 59);
    border-radius: 10px;
    
}
.theme-text{
    
    font-size: 24px;
    font-family: 'Russo One', sans-serif;}
.light-btn{
    display: flex;
    justify-content: center;
    gap: 30px;
   
    
    
}

.light-off:hover{
    border: 1px solid rgb(165, 160, 160);
    border-radius: 19%;
}
.light-on:hover{
    border: 1px solid rgb(94, 94, 94);;
    border-radius: 19%;
}

.right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 50px;
    
}


#preview-shadow{
	background-color: var(--previewShadow);
	max-width: 250px;
	height: 180px;
	padding-left: 10px;
	padding-top: 30px;
    text-align: center;
}

#preview{
	width: 300px;
    max-width: 250px;
	border:1.5px solid #17a2b8;
	background-color: var(--previewBg);
    margin-right: 20px;
	padding:20px;
	position: relative;
    
}

.corner{
	width:7px;
	height: 7px;
	border-radius: 50%;
	border:1.5px solid #17a2b8;
	background-color: #fff;
	position: absolute;
}

#corner-tl{
	top:-5px;
	left: -5px
}

#corner-tr{
	top:-5px;
	right: -5px
}


#corner-br{
	bottom:-5px;
	right: -5px
}


#corner-bl{
	bottom:-5px;
	left: -5px
}
.main-container{
    width: 1200px;
    margin: 0 auto;
}
.about-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 50px;
	padding-top: 50px;
	gap:100px;
}


#skills{
	display: flex;
	justify-content: space-evenly;
	background-color: var(--previewShadow);
}

.social-links{
	display: grid;
	align-content: center;
	text-align: center;
    
}
.social-links a{
    text-decoration: none;
}
#social_img{
	width: 100%;
}

/*  */
.project-wrapper{
    
    width: 330px;
    height: 350px;
    
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    align-content: center;
    cursor: pointer;
    
}
.project-wrapper:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  
}

.post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content: center;
	padding-bottom: 50px;
}

.post{
	border:1px solid var(--borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.thumbnail{
	display: block;
	width: 100%;
	height:180px;
	object-fit: cover;
}

.post-preview{
	background-color: #fff;
	padding:15px;
}

.post-title{
	color:rgb(94, 94, 94);;
	margin: 0;
}

.post-intro{
	color:#0c0d0e;
	font-size: 14px;
}

.tag{
    display:inline-block;
    color:#fff;
    border-radius: 5px;
    background-color: #888;
    margin: 2px;
    padding: 2px 5px;
    font-size: 12px;
}

.contact{
    border: 1px solid black;
    border-radius: 8px;
    color: white;
    background-color: rgb(10, 10, 9);
}
input[type=text]{
    background-color: rgb(211, 218, 223);
    border: none;
    border-bottom: 4px solid rgb(19, 110, 138);
}

textarea[type=text]{
    background-color: rgb(211, 218, 223);
    border: none;
    border-bottom: 4px solid rgb(19, 110, 138);
}
#footer{
    width: 100%;
    height: 122px;
    border: 1px solid white;
    padding-bottom: 1px;
    background-color: white;
    position: absolute;
    text-align: center;
}
/* .footer-text{
    margin: 3rem;
    color: rgb(94, 94, 94);;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: -6px;
}
.footer-link{
    margin-right: 10px;
    text-decoration: none;
    color: rgb(19, 110, 138);
}
.footer-link:hover{
    color: rgb(94, 94, 94);
} */

.pagination{
    width: 30%;
    gap: 5px;
   
    justify-content: start;
    margin: auto;
    margin-left: 10rem;
    margin-bottom: 2rem;
}
.page-link{
    background-color: rgb(94, 94, 94);
    color: white;
    font-size: 20px;
}
.page-link:hover{
    background-color: rgb(19, 110, 138);
    color: white;
}
.active{
    background-color: rgb(19, 110, 138);
}


@media screen and (min-width: 400px) {
    .header-img{  
        margin-left: 0;
    }
   
    #preview-shadow {
      padding-left: 10px;         /* 5% of container width, for medium screens */
    }
    .right-column{
        
        align-content: center;
    
        padding-top: 50px;
        padding-bottom: 50px;
        
    }

    .project-wrapper{
        margin: 5rem;
         margin-bottom: 0;
         margin-top: 15px;
       /* align-content: center;
        align-content: center; */
        
    }
   
}
    
    
    @media screen and (min-width: 600px) {
    .header-img{  
            margin-left: -3rem;
    }
   
    #preview-shadow {
      padding-left: 10px;         /* 5% of 600px, for wide screens */
    }
    .right-column{
        
        align-content: center;
    
        padding-top: 50px;
        padding-bottom: 50px;
        
    }
   

 }

@media screen and (max-width: 1200px){
	.main-container{
		width: 95%;
	}

    .project-wrapper{
        margin: 5rem;
         margin-bottom: 0;
         margin-top: 15px;
       /* align-content: center;
        align-content: center; */
        
    }
    
    
    
}
